.card-set {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  width: 100%;
  @include tablet {
    margin-top: -30px;
  }
  @include desktop {
    margin-top: -30px;
    margin-bottom: 0px;
  }
}

.card-set__element {
  width: 100%;
  margin-bottom: 30px;

  @include tablet {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  @include desktop {
    flex-basis: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 0px;
  }
}
.card-set__element:last-child {
  @include mob {
    margin-bottom: 0px;
  }
}
.card-set__element:nth-child(3n) {
  @include desktop {
    margin-right: 0px;
  }
}
.card-set__element:nth-child(2n) {
  @media screen and (max-width: 1199px) {
    margin-right: 0px;
  }
}

.card-set__link {
  text-decoration: none;
  box-shadow: none;
  transition-property: box-shadow;
  @extend %animation;
  &:hover {
    display: block;
    box-shadow: $card-set-shadow;
  }
  &:hover .thumb-element__animation {
    transform: translateY(0);
    opacity: 1;
  }
}
.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid $card-content-border;
  border-top: none;
  text-decoration: none;
}
.card-content__title {
  color: $section-title-color;
  @extend %font-set-title;
  margin-bottom: 4px;
  margin-top: 0;
}
.card-content__text {
  color: $primary-text-color;
  @extend %font-set-text;
  @extend %text-margin;
}
.thumb-element {
  position: relative;
  overflow: hidden;
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb__img {
  width: 100%;
  height: 100%;
  display: block;
}
.thumb-element__text {
  position: absolute;
  @extend %font-thumb-text;
  padding: 63px 24px;
}
.thumb-element__animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $primary-white-color;
  background-color: $logo-color;
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(100%);
  @extend %animation;
}
