.communication {
  @extend %list;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
  }
}

.communication__item {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-bottom: 10px;
}
.communication__item:first-child {
  @include desktop {
    margin-right: 50px;
  }
}
.communication__data {
  display: flex;
  flex-direction: row;
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding: 0;
  transition-property: color;
  @extend %animation;
  &:hover {
    color: $logo-color;
  }
  &:focus {
    color: $logo-color;
  }
  @include desktop {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.communication__envelope {
  width: 14px;
  height: 10px;
  @include desktop {
    width: 16px;
    height: 12px;
  }
}
.communication__smartphone {
  width: 10px;
  height: 14px;
  @include desktop {
    width: 10px;
    height: 16px;
  }
}
