.customers {
  @extend %position-section;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0px;
    margin-bottom: 94px;
  }
}

.customers__title {
  color: $title-text-color;
  @extend %font-title;
  @extend %text-margin;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.customers__list {
  display: flex;
  gap: 30px;
  @extend %list;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.customers__link {
  width: 210px;
  height: 92px;
  border: 1px solid;
  border-color: $color-lotypes;
  color: $color-lotypes;
  border-radius: 4px;
  background-position: center;
  transition-property: color, border-color;
  @extend %flex;
  @extend %animation;
  &:focus {
    color: $logo-color;
    border-color: $logo-color;
  }
  &:hover {
    color: $logo-color;
    border-color: $logo-color;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.customers__icon {
  fill: currentColor;
}
