.features {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
    padding-top: 94px;
    margin-bottom: 0px;
  }
}

.features__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
  }
}

.features__item {
  max-width: 450px;
  @include tablet {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  &:nth-child(2n) {
    @include tablet {
      margin-right: 0px;
    }
  }
}

.features__item:not(:last-child) {
  @include desktop {
    margin-right: 30px;
  }
}
.features__bckg {
  background: $button-basis;
  border-radius: 4px;
  height: 120px;
  margin: 0px;
  margin-bottom: 30px;
  @extend %flex;

  @include desktop {
    width: 270px;
  }
}

.features__icon {
  display: block;
}
.features__title {
  color: $section-title-color;
  @extend %font-medium;
  @extend %text-margin;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.features__rubric {
  @extend %font-text;
  @extend %text-margin;
  color: $primary-text-color;
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 0px;
  }
}
