.features {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding-left: 0;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.features__bckg {
  background: $button-basis;
  border-radius: 4px;
  height: 120px;
  margin: 0px;
  margin-bottom: 30px;
  @extend %flex;

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__icon {
  display: block;
}
.features__title {
  color: $section-title-color;
  @extend %font-medium;
  @extend %text-margin;
  margin-bottom: 10px;
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
  }
}

.features__rubric {
  @extend %font-text;
  @extend %text-margin;
  color: $primary-text-color;
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }
}
