.footer {
  background: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.footer__content {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    justify-content: center;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__color {
  @extend %font-logo;
  color: $logo-color;
}

.footer__studio {
  color: $primary-white-color;
}
.footer__logo {
  @extend %font-logo;
  color: $title-text-color;
  text-decoration: none;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.footer__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    width: 231px;
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.footer__data {
  color: $primary-text-color;
  text-decoration: none;
  transition-property: color;
  @extend %animation;
  @extend %font-text;
  &:focus {
    color: $logo-color;
  }
  &:hover {
    color: $logo-color;
  }
}
.footer__local {
  display: inline-block;
  margin-top: 20px;
  color: $primary-white-color;
  text-decoration: none;
  @extend %font-text;
  transition-property: color;
  @extend %animation;
  &:focus {
    color: $logo-color;
  }
  &:hover {
    color: $logo-color;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.join {
  margin-left: 137px;
  margin-right: 137px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin-right: 0px;
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 0px;
  }
}

.join__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $primary-white-color;
  @extend %font-medium;
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: center;
  }
}

.join__list {
  display: flex;
  gap: 10px;
  @extend %list;
}

.join__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  @extend %flex;
  background-color: $footer-icon-bckg;
  transition-property: background-color;
  @extend %animation;
  &:hover {
    background-color: $logo-color;
  }
  &:focus {
    background-color: $logo-color;
  }
}
.join__icon {
  fill: currentColor;
}
.join__icon {
  color: $primary-white-color;
  transition-property: color;
  @extend %animation;
  &:hover {
    color: $primary-white-color;
  }
  &:focus {
    color: $primary-white-color;
  }
}
.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 0px;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    margin-left: 93px;
    margin-top: 0;
    flex-direction: row;
  }
}

.sign__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $primary-white-color;
  @extend %font-medium;
}
.sign__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.sign__email {
  width: 450px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid $border-input-footer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $background-color;
  color: $primary-text-color;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    width: 358px;
  }
}

.sign__button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: $primary-white-color;
  background-color: $button-back-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px $shadow-color;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
.sign__icon {
  fill: currentColor;
  color: $primary-white-color;
  margin-left: 10px;
}
