.communication__data {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.communication__envelope {
  @extend %commun-icon;
}

.communication__smartphone {
  @extend %commun-icon;
}
