.hero {
  max-width: 480px;
  background-color: $background-color;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/other-pictures/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
  }
}
.hero__title {
  display: inline-block;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  @extend %text-margin;
  color: $primary-white-color;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  color: $primary-white-color;
  background-color: $button-back-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px $shadow-color;
  border-radius: 4px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  @extend %flex;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    width: 216px;
  }
}
