.hero {
  max-width: 1600px;
  text-align: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/other-pictures/hero1x-mob.jpg");
  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/other-pictures/hero1x-mob.jpg");
  }
  @include tablet {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/other-pictures/hero1x-tabl.jpg");
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/other-pictures/hero2x-tabl.jpg");
    }
  }
  @include desktop {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/other-pictures/hero1x-desk.jpg");
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/other-pictures/hero2x-desk.jpg");
    }
  }
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  display: inline-block;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  max-width: 360px;
  min-width: min-content;
  margin-bottom: 30px;
  @extend %text-margin;
  color: $primary-white-color;
  text-transform: uppercase;

  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  color: $primary-white-color;
  background-color: $button-back-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px $shadow-color;
  border-radius: 4px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  @extend %flex;
  margin-right: auto;
  margin-left: auto;

  @include desktop {
    width: 216px;
  }
}
