.portfolio {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.datalist {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-bottom: 40px;
  row-gap: 15px;
  @extend %list;

  @media screen and (min-width: 768px) {
    row-gap: 15px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.datalist__button {
  display: inline-block;
  @extend %font-btn;
  color: $section-title-color;
  background-color: $button-basis;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  text-align: center;
  transition-property: background-color, box-shadow, color;
  @extend %animation;
  &:focus {
    color: $primary-white-color;
    background-color: $logo-color;
    box-shadow: $btn-portfolio-shadow;
    border-radius: 4px;
  }
  &:hover {
    color: $primary-white-color;
    background-color: $logo-color;
    box-shadow: $btn-portfolio-shadow;
    border-radius: 4px;
  }
}
