.section-team {
  background-color: $button-basis;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.team__title {
  color: $section-title-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  @extend %text-margin;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  @extend %list;
}
.team__employees {
  box-shadow: $empoyees-shadow;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.team__employees:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.staff {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $primary-white-color;
}
.staff__name {
  color: $section-title-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 0;
  margin-bottom: 10px;
  @extend %text-margin;
}

.staff__profession {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 16px;
  @extend %text-margin;
}

.network {
  @extend %flex;
  gap: 10px;
  text-decoration: none;
  @extend %list;
}

.network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @extend %flex;
  color: $color-link;
  transition-property: background-color, color;
  @extend %animation;
  &:hover {
    color: $primary-white-color;
    background-color: $logo-color;
  }
}
.network__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
