%font-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
%font-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
%font-medium {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
%font-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
%font-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
%font-set-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: 0.04em;
}
%font-set-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
%font-thumb-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

%container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

%commun-icon {
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
  background-position: center;
  background-size: contain;
}

%animation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%list {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

%text-margin {
  margin: 0;
}

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%position-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
