$font-family: "Roboto", sans-serif;
$font-logo: "Raleway";
$background-color-page: #ffffff;
$primary-text-color: #757575;
$title-text-color: #000000;
$primary-white-color: #ffffff;
$logo-color: #2196f3;
$background-color: #2f303a;
$section-title-color: #212121;
$button-back-color: #188ce8;
$button-basis: #f5f4fa;
$shadow-color: rgba(0, 0, 0, 0.15);
$color-lotypes: #afb1b8;
$header-border: #ececec;
$background-color-madal: rgba(0, 0, 0, 0.2);
$border-button-modal: rgba(0, 0, 0, 0.1);
$border-input: rgba(33, 33, 33, 0.2);
$color-placeholder: rgba(117, 117, 117, 0.5);
$thumb-color: rgba(47, 48, 58, 0.8);
$empoyees-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$color-link: #afb1b8;
$footer-icon-bckg: rgba(255, 255, 255, 0.1);
$border-input-footer: rgba(255, 255, 255, 0.3);
$btn-portfolio-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$card-set-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$card-content-border: #eeeeee;
